[Unit]
Description=Calendar update timer
Requires=maginkcal.service

[Timer]
Unit=maginkcal.service
OnCalendar=*:0/5:0

[Install]
WantedBy=timers.target
